      <div class="modal-body">
      	<div id="custom_step_1"> 
      		Выберите район
      		 <ul>     	
        	   <%= render :partial => 'area', :collection => areas, :as => :item %>
        	 </ul>
        </div>
      </div> 