<% @models_by_brand.each do |model| %>
  <li>Name: <%= link_to model.name, set_model_adverts_path(:model_id => model.id, :model_name => model.name, :category_id => model.category_id), :remote => true, :method => :post %></li>
<% end %>